<ion-card>
    <ion-grid>
        <ion-row class="row-p">
            <ion-col size=8>
                <ion-card-title>{{title}}</ion-card-title>
            </ion-col>
            <ion-col>
                <ion-card-subtitle class="mrs">R${{subtitle}}</ion-card-subtitle>
            </ion-col>
    </ion-row>
    <ion-row>
        <ion-card-content>{{content}}</ion-card-content>
    </ion-row>
    <ion-row class="ccb">
    <ion-button (click)="handleButton()">ver mais</ion-button>
    </ion-row>
    </ion-grid>
</ion-card>
