ion-card-title{
    margin-left: 10%;
    align-items: center;
}
ion-card-subtitle{
    font-size: 1.5em;
    margin-left: 10%;
}
ion-card-content{
    font-size: 1.3em;
    align-items: center;
}
.ccb{
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}
