<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>Conta</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <h1>Já tenho uma conta!</h1>
        </ion-row>
        <ion-row>
            <ion-button routerLink="/login" shape="round" size="large">Fazer Login</ion-button>
        </ion-row>
        <ion-row>
            <h1>Ainda não tenho uma conta!</h1>
        </ion-row>
        <ion-row>
            <ion-button routerLink="/cadastro" shape="round" size="large">Cadastrar</ion-button>
        </ion-row>
        <ion-row>
            <img src="assets/undraw_select_house_qbag.png" alt="ilustração de uma pessoa escolhendo uma república">
        </ion-row>
    </ion-grid>

</ion-content>
