.título-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-preco-coracao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
img{
    widht: 100%;
    height: 40vh;
}
.links-centro{
    justify-content: center;
    align-items: center;
    margin: 2%;
}
