icon-card-header.md icon-card-title{
    color: #FF951A;
    font-size: 1.5em;
}
icon-card-title{
    font-size: 2em;
}
ion-card-subtitle{
    margin-left: 10%;
    font-size: 1.3em;
    align-items: center;
}
.título-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}
